.login {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  position: relative;
  align-items: center;
}

.loginTopBall {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  height: 100%;
  width: auto;
}

.loginFormContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  padding: 1.5rem;
  color: white;
  overflow: hidden;
}

.loginFormContainer h1 {
  font-size: 1.5rem;
}
.loginFormContainer h2 {
  font-size: 1rem;
}

.loginLogo {
  height: auto;
  width: 10rem;
}

.loginIllustration {
  height: 100%;
  width: auto;
}

.loginBottomBall {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: auto;
}
